<p>
    Soluzione adatta a gruppi strutturati. La possibilità di creare sottogruppi di lavoro faciliterà i flussi di lavoro.<br/>
    Permette di gestire fino a 25 utenti.
</p>
<a href="javascript:$('.utenze_big_toggle').slideToggle()"><span>Dettagli</span></a>
<div class="utenze_big_toggle no-display">
    <h4>Funzionalità</h4>
    <ul>
        <li>Gestione fino a <b>25 utenti</b></li>
        <li>Assegnazione dei <b>ruoli</b> agli utenti</li>
        <li>Gestione del proprio <b>profilo</b></li>
        <li>Gestione dei <b>dati aziendali</b></li>
        <li>Acquisto <b>licenze</b></li>
        <li><b>Rubrica</b> aziendale</li>
    </ul>
    <h4>Servizi in progetto</h4>
    <ul>
        <li>Gerstione dei <b>Gruppi di lavoro</b></li>
        <li>Sistema di <b>Ticketing</b></li>
    </ul>
</div>