{% set small = true %}
<table class="records_list">
    <thead>
        <tr>
            <th>#</th>
            <th>&nbsp;</th>
            <th>Tpa</th>
            <th>Claimant</th>
            <th>Titolo</th>
        </tr>
    </thead>
    <tbody id="tb_container">
        {% include 'EphpGestoriBundle:Profilo:index/calendario/tbody.html.twig' %}
    </tbody>
</table>            