@font-face {
    font-family: 'helveticaregular';
    src: url('../../wspadmin/fonts/helvetica-webfont.eot');
    src: url('../../wspadmin/fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../wspadmin/fonts/helvetica-webfont.woff') format('woff'),
        url('../../wspadmin/fonts/helvetica-webfont.ttf') format('truetype'),
        url('../../wspadmin/fonts/helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.vertical-barr {
    border-top: 7px solid #ffe42e;
    border-bottom: 7px solid #ffe42e;
}

.vertical-title {
    display: block; 
    position: relative;

    text-align: right;
    vertical-align: middle;

    margin: 0px;

    font-size: 5em;
    color: #fff;

    background: url(../../metronicadmin/img/bg-opacity.png) repeat;
    
    font-family: 'helveticaregular';

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /*also accepts left, right, top, bottom coordinates; not required, but a good idea for styling*/ 
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 00%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 00%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.vertical-title-transparent {
    display: block; 
    position: relative;

    text-align: right;
    vertical-align: middle;

    margin: 0px;

    font-size: 5em;
    color: #000;
    
    font-family: 'helveticaregular';

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /*also accepts left, right, top, bottom coordinates; not required, but a good idea for styling*/ 
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 00%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 00%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

span.red {
    color: #d10 !important;
}

.vertical-title-transparent span.solid-yellow{
    margin: 0px;
    padding: 7px;
    background-color: #ffe42e;
}

.slogan {
    font-family: 'helveticaregular';
    margin-top: 0px;
    text-align: center;
    color: #ffe42e !important;
    text-shadow: 2px 2px 3px #000;
}

.testo {
    font-family: 'helveticaregular';
    text-align: justify;
    font-size: 1.17em;
    text-shadow: 0px 0px 4px #000;
    margin-bottom: 10px;
}

.testocentrato {
    font-family: 'helveticaregular';
    text-align: center;
    font-size: 1.17em;
    text-shadow: 0px 0px 4px #000;
    margin-bottom: 10px;
}

.testocentrato p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.grassetto {
    text-align: justify;
    color: #fff !important;
    font-size: 1.25em;
    text-shadow: 0px 0px 4px #000;
    margin-top: 10px;
}

.grassetto a {
    color: #ffe42e !important;
}

.coming-soon-countdown {
    font-family: 'helveticaregular';
    width: 480px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#defaultCountdown span.countdown_section {
    background: url(../../metronicadmin/img/bg-opacity.png) repeat !important;
    width: 24.5% !important;
    text-align: center !important;
    text-shadow: 2px 2px 3px #000;
    padding: 7px 0px !important;
    margin: 1px 1px !important; 
}

.login .content {
    background: url(../../metronicadmin/img/bg-opacity.png) repeat;
    font-family: 'helveticaregular';
    width: 467px !important;
    text-align: center !important;
}

.no-padding {
    padding: 0px !important;
}

.padding5 {
    padding: 5px !important;
}

.padding10 {
    padding: 10px !important;
}

.no-margin {
    margin: 0px !important;
}

.margin5 {
    margin: 5px !important;
}

.margin10 {
    margin: 10px !important;
}

.login .logo {
    margin-top: 30px;
}

.input-group {
    font-family: 'helveticaregular';
    margin: 0 auto;
}

@media (min-width: 992px) and (max-width: 1200px) {  

}

/***
From Medium Devices Up To Larger Devices
***/

@media (min-width: 992px) { 

}

/***
Up To Medium Devices
***/

@media (max-width:991px) { 

}

/***
From Small Devices Up To Medium Devices
***/

@media (min-width: 768px) and (max-width: 991px) { 

} 

/***
Extra Small Devices Only
***/

@media (max-width: 767px) { 

}

/***
The Most Extra Small Devices Landscape Mode Only
***/

@media (max-width: 480px) {
    .input-group .input-large {
        width: 280px !important;
    }
    .login .content {
        width: 306px !important;
    }
    .coming-soon-countdown {
        width: 318px !important;
    }
    #defaultCountdown span.countdown_section {
        font-size: 0.9em !important;
        width: 24.3% !important;
        padding: 5px 5px !important;
    }
    #defaultCountdown span.countdown_amount {
        font-size: 1.8em !important;
    }
}

/***
The Most Extra Small Devices Portrait Mode Only
***/

@media (max-width: 320px) {
}	
