{% extends '::base.html.twig' %}

{% block title %}
Profilo
{% endblock %}

{% block content %}
<h1>{{ gestore.nome }}</h1>
<div id="tabs">
    <ul>
        <li><a href="#tabs-r">Ritardi</a></li>
        {% if app.user.hasRole('ROLE_ADMIN') %}
            <li><a href="#tabs-ru">Ritardi ufficio</a></li>
        {% endif %}
    </ul>
<div id="tabs-r" style="display: none">
    {% include 'EphpGestoriBundle:Profilo:index/ritardi.html.twig' with {'entities': miei_ritardi, 'gestore': true} %}
</div>
{% if app.user.hasRole('ROLE_ADMIN') %}
    <div id="tabs-ru" style="display: none">
        {% include 'EphpGestoriBundle:Profilo:index/ritardi.html.twig' with {'entities': tutti_ritardi, 'gestore': false} %}
    </div>
{% endif %}

{% include 'EphpSinistriBundle:Scheda:index/assegna_gestore.html.twig' %}
{% include 'EphpSinistriBundle:Scheda:index/cambia_priorita.html.twig' %}
{% include 'EphpSinistriBundle:Scheda:index/cambia_stato_operativo.html.twig' %}

{% include 'EphpSinistriBundle:Scheda:index/table.js.html.twig' %}


<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs();
        $( "#tabs ul li a" ).click(function(){
            $( "#tabs div" ).hide();
            $($(this).attr('href')).show();
        });
        $( "#tabs div:first" ).show();
    });
</script>
{% endblock %}
