<div class="container big-icon-block">
    <div class="row"> 
        <!-- BIG ICON BLOCK -->
        <div class="four columns icon-block-content"> <a href="full_width.html"><img src="files/images/icon_box_1.png" alt="" /></a>
            <h3> Lorem ipsum dolor sit </h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.</p>
            <a class="button" href="#">Read more +</a> </div>
        <div class="four columns icon-block-content"> <a href="full_width.html"><img src="files/images/icon_box_2.png" alt="" /></a>
            <h3> Lorem ipsum dolor sit </h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum.</p>
            <a class="button" href="#">Read more +</a> </div>
        <div class="four columns icon-block-content"> <a href="full_width.html"><img src="files/images/icon_box_3.png" alt="" /></a>
            <h3> Lorem ipsum dolor sit </h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. </p>
            <a class="button" href="#">Read more +</a> </div>
    </div>
    <!-- END BIG ICON BLOCK --> 
</div>
