<!-- BOTTOM BLOCK -->
<div class="container bottom-block">
  <div class="row">
    <div class="four columns">
      <h1>About Us</h1>
      <img src="files/images/about_us.jpg" alt="" />
      <p class="entry-text">Consectetur adipiscing elit aeneane lorem lipsum, condimentum 
        ultrices consequat eu, vehicula mauris lipsum adipiscing lipsum.<br>
      </p>
      <a class="link-btn" href="single_post.html">Continue Reading &rarr;</a> </div>
    <div class="four columns">
      <h1> Latest Posts </h1>
      <div class="blog-post">
        <div class="postdate">
          <h3>20</h3>
          <h6>Jan 2013</h6>
        </div>
        <div class="entry-title">
          <h4 class="uppercase"><a href="single-project.html">Nullam dictum felis eu</a></h4>
          <p class="entry-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. </p>
        </div>
      </div>
      <div class="divider3"></div>
      <div class="blog-post">
        <div class="postdate">
          <h3>20</h3>
          <h6>Jan 2013</h6>
        </div>
        <div class="entry-title">
          <h4 class="uppercase"><a href="single-project.html">Nullam dictum felis eu</a></h4>
          <p class="entry-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. </p>
        </div>
      </div>
      <div class="divider3"></div>
      <div class="blog-post">
        <div class="postdate">
          <h3>20</h3>
          <h6>Jan 2013</h6>
        </div>
        <div class="entry-title">
          <h4 class="uppercase"><a href="single-project.html">Nullam dictum felis eu</a></h4>
          <p class="entry-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. </p>
        </div>
      </div>
    </div>
    <div class="four columns">
      <h1>Services</h1>
      <!-- ACCORDION -->
      <div id="accordion-style-1">
        <div class="acc-item first"> <a href="#" class="acc_trigger">Proin tempor neque mi</a>
          <div class="acc_container">
            <p>Mauris laoreet arcu tortor. Fusce neque felis, bibendum vel lacinia et, eleifend ut tortor. Sed imperdiet, purus porttitor vestibulum lobortis, lorem nunc adipiscing ipsum, at ullamcorper sem odio a tellus. Mauris a luctus nunc.</p>
            <p>Maecenas at nisl leo. Sed sed nisl a ligula eleifend posuere ut nec sapien. Proin tempor neque mi. Duis pretium dignissim elit nec feugiat. Morbi non orci felis. Nam vitae metus a orci iaculis facilisis.</p>
          </div>
        </div>
        <div class="acc-item"> <a href="#" class="acc_trigger">Donec id elit non mi porta</a>
          <div class="acc_container">
            <p>Mauris laoreet arcu tortor. Fusce neque felis, bibendum vel lacinia et, eleifend ut tortor. Sed imperdiet, purus porttitor vestibulum lobortis, lorem nunc adipiscing ipsum, at ullamcorper sem odio a tellus. Mauris a luctus nunc.</p>
            <p>Maecenas at nisl leo. Sed sed nisl a ligula eleifend posuere ut nec sapien. Proin tempor neque mi. Duis pretium dignissim elit nec feugiat. Morbi non orci felis. Nam vitae metus a orci iaculis facilisis.</p>
          </div>
        </div>
        <div class="acc-item"> <a href="#" class="acc_trigger">Fusce dapibus, tellus ac cursus</a>
          <div class="acc_container">
            <p>Mauris laoreet arcu tortor. Fusce neque felis, bibendum vel lacinia et, eleifend ut tortor. Sed imperdiet, purus porttitor vestibulum lobortis, lorem nunc adipiscing ipsum, at ullamcorper sem odio a tellus. Mauris a luctus nunc.</p>
            <p>Maecenas at nisl leo. Sed sed nisl a ligula eleifend posuere ut nec sapien. Proin tempor neque mi. Duis pretium dignissim elit nec feugiat. Morbi non orci felis. Nam vitae metus a orci iaculis facilisis.</p>
          </div>
        </div>
        <div class="acc-item"> <a href="#" class="acc_trigger">Ligula eleifend posuere</a>
          <div class="acc_container">
            <p>Mauris laoreet arcu tortor. Fusce neque felis, bibendum vel lacinia et, eleifend ut tortor. Sed imperdiet, purus porttitor vestibulum lobortis, lorem nunc adipiscing ipsum, at ullamcorper sem odio a tellus. Mauris a luctus nunc.</p>
            <p>Maecenas at nisl leo. Sed sed nisl a ligula eleifend posuere ut nec sapien. Proin tempor neque mi. Duis pretium dignissim elit nec feugiat. Morbi non orci felis. Nam vitae metus a orci iaculis facilisis.</p>
          </div>
        </div>
        <div class="acc-item"> <a href="#" class="acc_trigger">Pretium dignissim elit nec feugiat</a>
          <div class="acc_container">
            <p>Mauris laoreet arcu tortor. Fusce neque felis, bibendum vel lacinia et, eleifend ut tortor. Sed imperdiet, purus porttitor vestibulum lobortis, lorem nunc adipiscing ipsum, at ullamcorper sem odio a tellus. Mauris a luctus nunc.</p>
            <p>Maecenas at nisl leo. Sed sed nisl a ligula eleifend posuere ut nec sapien. Proin tempor neque mi. Duis pretium dignissim elit nec feugiat. Morbi non orci felis. Nam vitae metus a orci iaculis facilisis.</p>
          </div>
        </div>
      </div>
      <!-- END ACCORDION --> 
    </div>
  </div>
</div>
<!-- END PORTFOLIO BLOCK --> 
