<!-- CIRCLES BLOCK -->
<div class="container circles_block">
    <div class="row">
        <ul class="ch-grid">
            <li>
                <div class="ch-item ch-img-1">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3>We Are Fun</h3>
                                <p>Donec id elit non mi porta gravida at eget <a href="#">Read More +</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-2">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3>We Have Passion</h3>
                                <p>Donec id elit non mi porta gravida at eget <a href="#">Read More +</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-3">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3>We Work Hard</h3>
                                <p>Donec id elit non mi porta gravida at eget <a href='#'>Read More +</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item ch-img-4">
                    <div class="ch-info-wrap">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-4"></div>
                            <div class="ch-info-back">
                                <h3>We Are Proteus</h3>
                                <p>Donec id elit non mi porta gravida at eget <a href="#">Read More +</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END CIRCLES BLOCK --> 