<!-- PORTFOLIO BLOCK -->
<div class="container portfolio-block">
    <div class="row">
        <div id="container" class="clickable variable-sizes clearfix">
            <h1>Latest Work</h1>
            <!-- Portfolio Item -->
            <div class="three columns">
                <div class="portfolio-item">
                    <div class="portfolio-item-image image-overlay"> <a class="titan-lb" data-titan-group="gallery" href="files/images/portfolio/large_1.jpg" title="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus."><img src="files/images/portfolio/1.jpg" alt="" /> <span class="overlay-icon item-zoom"></span> </a> </div>
                    <div class="portfolio-item-content">
                        <h5 class="title"><a href="portfolio_single.html">Lorem ipsum dolor sit</a></h5>
                        <p>Class aptent taciti</p>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Item --> 
            <!-- Portfolio Item -->
            <div class="three columns">
                <div class="portfolio-item">
                    <div class="portfolio-item-image image-overlay"> <a class="titan-lb" data-titan-group="gallery" href="files/images/portfolio/large_2.jpg" title="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus."><img src="files/images/portfolio/2.jpg" alt="" /> <span class="overlay-icon item-zoom"></span> </a> </div>
                    <div class="portfolio-item-content">
                        <h5 class="title"><a href="portfolio_single.html">Lorem ipsum dolor sit</a></h5>
                        <p>Class aptent taciti</p>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Item --> 
            <!-- Portfolio Item -->
            <div class="three columns">
                <div class="portfolio-item">
                    <div class="portfolio-item-image image-overlay"> <a class="titan-lb" data-titan-group="gallery" href="files/images/portfolio/large_3.jpg" title="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus."><img src="files/images/portfolio/3.jpg" alt="" /> <span class="overlay-icon item-zoom"></span> </a> </div>
                    <div class="portfolio-item-content">
                        <h5 class="title"><a href="portfolio_single.html">Lorem ipsum dolor sit</a></h5>
                        <p>Class aptent taciti</p>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Item --> 
            <!-- Portfolio Item -->
            <div class="three columns">
                <div class="portfolio-item">
                    <div class="portfolio-item-image image-overlay"> <a class="titan-lb" data-titan-group="gallery" href="files/images/portfolio/large_4.jpg" title="Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus."><img src="files/images/portfolio/4.jpg" alt="" /> <span class="overlay-icon item-zoom"></span> </a> </div>
                    <div class="portfolio-item-content">
                        <h5 class="title"><a href="portfolio_single.html">Lorem ipsum dolor sit</a></h5>
                        <p>Class aptent taciti</p>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Item --> 
        </div>
    </div>
</div>
<!-- END PORTFOLIO BLOCK -->