<!-- SMALL ICON BLOCK -->
<div class="container small-icon-block">
    <div class="row">
        <div class="three columns"> <img src="files/images/small_icon_1.png" alt="" />
            <h5>Responsive Design</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
        <div class="three columns"> <img src="files/images/small_icon_2.png" alt="" />
            <h5>Unlimited Colours</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
        <div class="three columns"> <img src="files/images/small_icon_3.png" alt="" />
            <h5>Awsome Slider</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
        <div class="three columns"> <img src="files/images/small_icon_4.png" alt="" />
            <h5>Well Documented</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
        <div class="clear"></div>
        <div class="three columns"> <img src="files/images/small_icon_5.png" alt="" />
            <h5>Great Support</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
        <div class="three columns"> <img src="files/images/small_icon_6.png" alt="" />
            <h5>Working Contact Form</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
        <div class="three columns"> <img src="files/images/small_icon_7.png" alt="" />
            <h5>Custom Shortcodes</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
        <div class="three columns"> <img src="files/images/small_icon_8.png" alt="" />
            <h5>PSD Files Included</h5>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                tellus ac cursus.</p>
        </div>
    </div>
</div>
<!-- END SMALL ICON BLOCK -->
