<div class="row-fluid">
    <div class="span12">
        <div class="widgets">
            {% include 'JFACLBundle:Cliente:show/widgets/utenti.html.twig' %}
            {% include 'JFACLBundle:Cliente:show/widgets/licenze.html.twig' %}
            {% include 'JFACLBundle:Cliente:show/widgets/fatture.html.twig' %}
        </div>
    </div>
</div>
