parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: swp
    database_user: root
    database_password: Ephraim76

    mailer_auth_mode: login
    mailer_transport: smtp
    mailer_host: mail.wsprice.it
    mailer_password: pwd
    mailer_user: marketing@wsprice.it
    mailer_port: 587
    
    locale: it
    secret: ThisTokenIsNotSoSecretChangeIt

    dimensione_massima_immagine: 2000000
    larghezza_minima_immagine: 200
    altezza_minima_immagine: 200

    # SOCIAL NETWORK
    facebook.app_id: 1438737219689685
    facebook.app_secret: 1ae02923ee5fa8896735b22db8cdb57b
    twitter.app_id: ert6gEM1Go8YBwTbeeR8g
    twitter.app_secret: s3Qj0GkHmGdYJcV9SRYd0faxkNGKaxpmew5DrAT5dP0
