<!-- social icons -->
<div class="social-icons-wrapper">
    <ul class="social-icons">
        {% if twitter %}
            <li><a href="{{ twitter }}" target="_blank"><img src="/bundles/hoursvideo/images/social/twitter.png" alt="Twitter"></a></li>
        {% endif %}
        {% if facebook %}
            <li><a href="{{ facebook }}" target="_blank"><img src="/bundles/hoursvideo/images/social/facebook.png" alt="Facebook"></a></li>
        {% endif %}
        {% if google %}
            <li><a href="{{ google }}" target="_blank"><img src="/bundles/hoursvideo/images/social/googleplus.png" alt="GooglePlus"></a></li>
        {% endif %}
        {% if facebook %}
            <li><a href="{{ linkedin }}" target="_blank"><img src="/bundles/hoursvideo/images/social/linkedin.png" alt="LinkedIn"></a></li>
        {% endif %}
    </ul>
</div>
<!-- social icons end -->