<form id="subscribe" method="post" action="{{ path(route) }}" name="subscribe">
    <label class="mail">{{ "form.label"|trans({}, "HoursVideo") }} *</label>
    <input id="subscribeemail" name="subscribeemail" type="text" class="subscriberequiredField subscribeemail" placeholder="{{ "form.placeholder"|trans({}, "HoursVideo") }}">
    <input id="submit" type="submit" value="{{ "form.button"|trans({}, "HoursVideo") }}">
</form>
