<!-- YTPlayer -->
<a href="http://www.youtube.com/watch?v={{ video }}" id="bgndVideo" class="player {containment:'body', autoPlay:{% if autoPlay %}true{% else %}false{% endif %}, mute:{% if mute %}true{% else %}false{% endif %}, startAt:{{ startAt }}, opacity:{{ opacity }}, loop:{% if loop %}true{% else %}false{% endif %}}"></a>
<!-- YTPlayer end -->
