{% set page_title = negozio.nome %}
{% set page_subtitle = 'di ' ~ negozio.cliente.referente.fullName %}

{% extends '::base.html.twig' %}

{% block css %}
{% stylesheets 
    '@MetronicAdminBundle/Resources/public/plugins/bootstrap-fileupload/bootstrap-fileupload.css'
    '@MetronicAdminBundle/Resources/public/css/pages/profile.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock css %}

{% block js %}
{% javascripts  
    '@MetronicAdminBundle/Resources/public/plugins/bootstrap-fileupload/bootstrap-fileupload.js'
    '@WSPACLBundle/Resources/public/js/negozio.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}  
{% endblock js %}

{% block ready_js %}
Negozio.init();
{% endblock ready_js %}

{% block content %}
<!-- BEGIN PAGE CONTENT-->
<div class="row profile">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            {% include "WSPACLBundle:Negozio:index/tabs.html.twig" %}
            <div class="tab-content">
                {% include "WSPACLBundle:Negozio:index/tabs/home.html.twig" %}
                {% include "WSPACLBundle:Negozio:index/tabs/prodotti.html.twig" %}
                {% include "WSPACLBundle:Negozio:index/tabs/fatture.html.twig" %}
                {% include "WSPACLBundle:Negozio:index/tabs/profilo.html.twig" %}
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>
<!-- END PAGE CONTENT-->

{% endblock %}