<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <title>{% block title %}Blank template{% endblock title %}</title>

        <meta name="description" content="{% block description %}{% endblock description %}">
        <meta name="author" content="{% block author %}{% endblock author %}">

        <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        {% block css %}{% endblock %}
        <script type="text/css">
            {% block inline_css %}{% endblock %}
        </script>

    </head>
    <body>
        {% block content %}{% endblock %}
        <script type="text/javascript">
            {% block var_js %}{% endblock %}
        </script>
        {% block js %}{% endblock %}
        <script type="text/javascript">
            {% block inline_js %}{% endblock %}
            jQuery(document).ready(function() {
                {% block ready_js %}{% endblock %}
            });
        </script>

    </body>
</html>