<p>
    Abilite le funzionalità di amministratore di WSP
</p>
<a href="javascript:$('.wsp_negozio_admin_toggle').slideToggle()"><span>Dettagli</span></a>
<div class="wsp_negozio_admin_toggle">
    <h4>Funzionalità</h4>
    <ul>
        <li>Gestione utenti</li>
        <li>Gestione pubblicità</li>
        <li>Gestione pacchetti crediti</li>
        <li>Invio messaggi</li>
    </ul>
</div>