<p>
    Soluzione base, permette di gestire un solo negozio.
</p>
<a href="javascript:$('.wsp_negozio_free_toggle').slideToggle()"><span>Dettagli</span></a>
<div class="wsp_negozio_free_toggle">
    <h4>Funzionalità</h4>
    <ul>
        <li>Inserzione prodotti</li>
        <li>Gestione prodotti</li>
        <li>Acquisto pubblicità</li>
        <li>Gestione dati negozio</li>
    </ul>
</div>