<!-- THE FIRST SLIDE -->
<li data-transition="papercut" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="files/images/thumbs/thumb2.jpg"> <img src="files/images/slides/slide1.jpg" >
    <div class="caption very_big_colour lfl stl uppercase"  
         data-x="18" 
         data-y="293" 
         data-speed="300" 
         data-start="500" 
         data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine" >Vestibulum posuere placerat metus</div>
    <div class="caption very_big_black lfl stl uppercase"  
         data-x="18" 
         data-y="333" 
         data-speed="300" 
         data-start="800" 
         data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine" >Nec porttitor nisl tempus et</div>
</li>