<!-- THE THIRD SLIDE -->
<li data-transition="cube" data-slotamount="10" data-masterspeed="300" data-delay="8000" data-thumb="files/images/thumbs/thumb5.jpg"> <img src="files/images/slides/slide3.jpg" >
    <div class="caption lfl ltl"  
         data-x="-60" 
         data-y="160" 
         data-speed="1200" 
         data-start="1500" 
         data-easing="easeOutExpo" data-end="7300" data-endspeed="300" data-endeasing="easeInSine" ><img src="files/images/slides/mbpro.png" alt="Image 4"></div>
    <div class="caption lfl ltl"  
         data-x="320" 
         data-y="240" 
         data-speed="1200" 
         data-start="1800" 
         data-easing="easeOutExpo" data-end="7400" data-endspeed="300" data-endeasing="easeInSine" ><img src="files/images/slides/ipad_front_view.png" alt="Image 5"></div>
    <div class="caption lfl ltl"  
         data-x="250" 
         data-y="320" 
         data-speed="1200" 
         data-start="2100" 
         data-easing="easeOutExpo" data-end="7600" data-endspeed="300" data-endeasing="easeInSine" ><img src="files/images/slides/iphone_front_view.png" alt="Image 6"></div>        
    <div class="caption very_big_colour sft str uppercase"  
         data-x="600" 
         data-y="293" 
         data-speed="300" 
         data-start="3000" 
         data-easing="easeOutExpo" data-end="7600" data-endspeed="300" data-endeasing="easeInSine" >Responsive Design</div>
    <div class="caption very_big_black sfb str uppercase"  
         data-x="600" 
         data-y="333" 
         data-speed="300" 
         data-start="3000" 
         data-easing="easeOutExpo" data-end="7600" data-endspeed="300" data-endeasing="easeInSine" >Nec porttitor nisl tempus et</div>
</li>
