<!-- THE FOURTH SLIDE -->
<li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="300" data-delay="9000" data-thumb="images/thumbs/thumb4.jpg"><img src="files/images/slides/slide4.jpg" >
    <div class="caption fade lfl stl" data-autoplay="false" data-x="380" data-y="180" data-speed="500" data-start="10" data-easing="easeOutBack">
        <iframe src="http://player.vimeo.com/video/21419714?title=0&amp;byline=0&amp;portrait=0;api=1" width="550" height="309"></iframe>
    </div>
    <div class="caption very_big_colour lfl uppercase"  
         data-x="18" 
         data-y="293" 
         data-speed="300" 
         data-start="500" 
         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Video Support</div>
    <div class="caption very_big_black lfl uppercase"  
         data-x="18" 
         data-y="333" 
         data-speed="300" 
         data-start="800" 
         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Play Vimeo Or</div>
    <div class="caption very_big_black lfl uppercase"  
         data-x="18" 
         data-y="387" 
         data-speed="300" 
         data-start="1000" 
         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Youtube Videos</div>
</li>