<!-- THE FOURTH SLIDE -->
<li data-transition="cube" data-slotamount="7" data-masterspeed="300" data-delay="9000" data-thumb="{{ asset('bundles/aeweb/images/logo100.png') }}"><img src="{{ asset('bundles/aeweb/images/slides/slideCrestacci.png') }}" >
    <div class="caption fade lfr stl" data-autoplay="false" data-x="380" data-y="180" data-speed="500" data-start="10" data-easing="easeOutBack">
        <iframe width="560" height="315" src="//www.youtube.com/embed/XuK5QbVKNi0?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="caption very_big_colour lft uppercase"  
         data-x="18" 
         data-y="293" 
         data-speed="400" 
         data-start="1800" 
         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Michele Crestacci</div>
    <div class="caption very_big_black lfb uppercase"  
         data-x="18" 
         data-y="333" 
         data-speed="400" 
         data-start="1800" 
         data-easing="easeOutExpo" data-endspeed="300" data-endeasing="easeInSine" >Si candida Sindaco</div>
</li>