{# LICENZE #}
<div class="widget green icon">
    <div class="left">
        <div class="icon">
            <span class="ico-box"></span>
        </div>
    </div>
    <div class="right">
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>Pacchetto</td><td>Scadenza</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Claims H</td><td>25/04/2014</td>
                </tr>
                <tr>
                    <td>Claims Navy</td><td>12/08/2014</td>
                </tr>
                <tr>
                    <td>Badge</td><td>01/09/2014</td>
                </tr>
                <tr>
                    <td>Unlimited User</td><td>12/09/2014</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bottom">
        <a href="alert('TODO')">Dettagli licenze</a>
    </div>                            
</div>
