<div class="page-header">
    <div class="icon">
        <span class="ico-info"></span>
    </div>
    <div class="icon">
        <span class="ico-sale"></span>
    </div>
    <h1>Clienti <small>Nuovo cliente</small></h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                Il processo si divide in due step:
                <ol>
                    <li><b>Registrazione società</b>: necessario per dati di fatturazione e scadenze licenze</li>
                    <li><b>Nomina SuperAdmin</b>: sarà il primo utente accreditato ad entrare e super-admin dell'impresa <i>(Fase non presente in fase di modifica dati)</i></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div class="block">
            <div class="head">                                
                <h2>Step 1 - Registrazione società</h2>
            </div>                                        
            <div class="data-fluid">
                <ul>
                    <li>Sono tutti i dati anagrafici e fiscali sono obbligatori</li>
                    <li>Solo l'email è obbligatoria fra i dati dei contatti</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="block">
            <div class="head">                                
                <h2>Step 2 - Nomina SuperAdmin</h2>
            </div>                                        
            <div class="data-fluid">
                <ul>
                    <li>Qui si inserisce l'anagrafica del superadmin</li>
                    <li>Tutti i campi sono obbligatori</li>
                    <li>Il superadmin avrà un canale di comunicazione con lo sviluppo</li>
                </ul>
            </div>
        </div>
    </div>
</div>

