{% extends '::base.html.twig' %}

{% block content %}
<div class="page-header">
    <div class="icon">
        <span class="ico-sale"></span>
    </div>
    <h1>{{ entity.nome }}</h1>
</div>

{% include 'JFACLBundle:Cliente:show/widgets.html.twig' %}

<div class="row-fluid">
    <div class="span12">
        <a href="{{ path('eph_clienti_edit', { 'id': entity.id }) }}">
            <span class="label label-warning">Modifica</span>
        </a>
        <a href="{{ path('eph_clienti') }}">
            <span class="label label-success">Torna indietro</span>
        </a>
        <a href="{{ path('eph_clienti_sospendi', { 'id': entity.id }) }}">
            <span class="label label-important">{% if entity.bloccato %}Riattiva{% else %}Sospendi{% endif %}</span>
        </a>
    </div>
</div>

<div class="row-fluid">
    <div class="span7">
        <div class="block">
            {% include 'JFACLBundle:Cliente:show/anagrafiche.html.twig' %}
            {% include 'JFACLBundle:commons:accessi.html.twig' %}
        </div>                        
    </div>
    <div class="span5">
        <div class="block">
            {% include 'JFACLBundle:Cliente:show/tickets.html.twig' %}
        </div>                        
    </div>
</div>

{% endblock %}
