{% extends '::base.html.twig' %}
{% form_theme form '::form_aries_layout.html.twig' %}

{% block body -%}
<div class="page-header">
    <div class="icon">
        <span class="ico-cog"></span>
    </div>
    <h1>Categoria <small>Nuovo</small></h1>
</div>
{{ form_start(form) }}
    <div class="row-fluid">
        <div class="span6">
            <div class="block">
                <div class="head">                                
                    <h2>Categoria</h2>
                </div>                                        
                <div class="data-fluid">
                {{ form_rest(form) }}
                </div>                                        
            </div>
        </div>
    </div>
{{ form_end(form) }}
<a href="{{ path('categoria') }}">
    <span class="label label-inverse">Torna indietro</span>
</a>

{% endblock %}
