<!-- BEGIN HEADER -->   
<div class="header navbar navbar-inverse navbar-fixed-top">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
        {% include "MetronicAdminBundle::layout/header/logo.html.twig" %}
        {% include "MetronicAdminBundle::layout/header/menuToggler.html.twig" %}
        {% include "MetronicAdminBundle::layout/header/navbar.html.twig" %}
    </div>
    <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->
