<!-- BEGIN SIDEBAR -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->   
    {{ knp_menu_render('header', {'template': 'MetronicAdminBundle::layout/sidebar/knp_menu.html.twig'}) }}
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
