<img src="{{ asset(negozio.avatar) }}" class="img-responsive" alt="" /> 
<a class="profile-edit" href="{{ path('negozio_form_logo') }}" data-target="#ajax_logo" data-toggle="modal">{{ 'commons.edit'|trans({}, 'WSPNegozio') }}</a>
