@font-face {
    font-family: 'helveticaregular';
    src: url('../../wspadmin/fonts/helvetica-webfont.eot');
    src: url('../../wspadmin/fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../wspadmin/fonts/helvetica-webfont.woff') format('woff'),
         url('../../wspadmin/fonts/helvetica-webfont.ttf') format('truetype'),
         url('../../wspadmin/fonts/helvetica-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#defaultCountdown span.countdown_section {
    font-family: 'helveticaregular';
    background: url(../../metronicadmin/img/bg-opacity.png) repeat !important;
    width: 24.5% !important;
    text-align: center !important;
    text-shadow: 2px 2px 3px #000;
    padding: 7px 0px !important;
    margin: 1px 1px !important; 
}

.login .content {
    background: url(../../metronicadmin/img/bg-opacity.png) repeat;
    font-family: 'helveticaregular';
    width: 467px !important;
    text-align: center !important;
}

a {
    color: #ffe42e;
}

.form-wizard a {
    color: #222222 !important;
}

.form-control {
    text-align: left;
    height: auto !important;
}

.form-control label{
    color: #000 !important;
    width: 360px;
}

h1 {
    color: #ffe42e;
    text-shadow: 2px 2px 3px #000;
}

.navbar-brand {
    padding: 0px;
    width: 170px;
}

.sidebar-toggler {
    z-index: 999;
}