<div class="page-header">
    <div class="icon">
        <span class="ico-info"></span>
    </div>
    <div class="icon">
        <span class="ico-group"></span>
    </div>
    <h1>Dati aziendali <small>Guida in linea</small></h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                Modifica i dati di <b>{{ app.user.cliente.nome }}</b>.<br/>
                Tutti i dati anagrafici sono obbligatori e permetteranno la fatturazione 
                automatica tramite <b>JF-SYSTEM</b>.<br/>
                Fra i contatti solamente l'<b>email</b> è obbligatoria poiché verrà usata per le 
                comunicazioni del sistema tra cui:<br/>
                <ul>
                    <li>Scadenze licenze</li>
                    <li>Attivazione nuove funzionalità</li>
                    <li>Nuovi pacchetti di servizi</li>
                    <li>Offerte</li>
                </ul>
            </div>
        </div>
    </div>
</div>
