{% extends "::blank.html.twig" %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<h1>Anteprima Promo WSP</h1>
<ul>
    <li><a href="{{ path('promo_simple') }}" target="_blank">Promo semplice</a></li>
    <li><a href="{{ path('promo_vertical') }}" target="_blank">Promo con banda verticale</a></li>
    <li><a href="{{ path('promo_video') }}" target="_blank">Promo con sfondo video</a></li>
</ul>
{% endblock %}