<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">A cosa servono:</h3>
    </div>
    <div class="panel-body">
        WSP mette in vendita crediti con cui poter acquistare servizi avanzati. 
        Questi dati ci servono per emettere regolare fattura. 
        Puoi modificare la precompilazione senza aver paura di modificare i dati che hai appena inserito
    </div>
</div>