<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        2014 &copy; World Sticker Price di Giacomo Orlandi - Via di Montenero, 324 57128 Livorno - P.IVA 01633260490
    </div>
    <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>
<!-- END FOOTER --> 