<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        2014 &copy; World Sticker Price - Via Cairoli, 21 - 57123 Livorno (Italia) - P.IVA 01633260490 - Cod. Fisc. RLNGCM79M09E625F
    </div>
    <div class="footer-tools">
        <span class="go-top">
            <i class="fa fa-angle-up"></i>
        </span>
    </div>
</div>
<!-- END FOOTER --> 