<div class="head todo">
    <div class="icon"><span class="ico-tag"></span></div>
    <h2>Tickets</h2>
    <ul class="buttons">             
        <li><a href="#" onclick="source('tickets'); return false;"><div class="icon"><span class="ico-info"></span></div></a></li>
        <li><a href="#" class="ublock"><div class="icon"><span class="ico-undo"></span></div></a></li>
        <li><a href="#" class="cblock"><div class="icon"><span class="ico-sort"></span></div></a></li>
    </ul>                                
</div>
<div class="data-fluid todo">
    <table width="100%" class="table tickets">
        <tbody><tr>
            <td width="55" class="bl_blue"><span class="label label-info">new</span></td>
            <td width="50">#AA-325 <span class="mark">23/02/2013</span></td>
            <td><a href="#" class="cblue">Buy on themeforest this great template...</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>
        <tr>
            <td class="bl_blue"><span class="label label-info">new</span></td>
            <td>#AA-216 <span class="mark">22/02/2013</span></td>
            <td><a href="#" class="cblue">Go to shop and buy beer!</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>                
        <tr>
            <td class="bl_green"><span class="label label-success">done</span></td>
            <td>#AC-857 <span class="mark">21/02/2013</span></td>
            <td><a href="#" class="cgreen">Buy on themeforest this great template...</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>
        <tr>
            <td class="bl_red"><span class="label label-important">removed</span></td>
            <td>#VB-57 <span class="mark">20/02/2013</span></td>
            <td><a href="#" class="cred">Buy something for my dog...</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>   
        <tr>
            <td class="bl_red"><span class="label label-important">removed</span></td>
            <td>#VB-44 <span class="mark">20/02/2013</span></td>
            <td><a href="#" class="cred">Buy something for my dog...</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>

        <tr>
            <td class="bl_green"><span class="label label-success">done</span></td>
            <td>#AA-216 <span class="mark">22/02/2013</span></td>
            <td><a href="#" class="cgreen">Go to shop and buy beer!</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>                
        <tr>
            <td class="bl_red"><span class="label label-important">removed</span></td>
            <td>#VB-31 <span class="mark">21/02/2013</span></td>
            <td><a href="#" class="cred">Buy on themeforest this great template...</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>
        <tr>
            <td class="bl_green"><span class="label label-success">done</span></td>
            <td>#VB-57 <span class="mark">20/02/2013</span></td>
            <td><a href="#" class="cgreen">Buy something for my dog...</a> <span class="mark">Added by Dmitry Ivaniuk</span></td>                                        
        </tr>                                      
    </tbody></table>
</div>                                   