<div class="page-header">
    <div class="icon">
        <span class="ico-info"></span>
    </div>
    <div class="icon">
        <span class="ico-group"></span>
    </div>
    <h1>Rubrica <small>Guida in linea</small></h1>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="block">
            <div class="data-fluid">
                Cerca velocemente i contatti all'interno di <b>{{ app.user.cliente.nome }}</b> 
                per chiamare al telefono o scrivere email.<br/>
            </div>
            <div class="data-fluid">
                <h2>Ricerca in tempo reale</h2>
                Tramite lo strumento di ricerca in tempo reale è possibile ricercare i contatti di un collega
                La ricerca viene fatta sia sul nome che sulla sigla di lavoro
                <div class="span4">
                    <div class="input-prepend">
                        <span class="add-on orange"><span class="icon-search icon-white"></span></span>
                        <input type="text" class="demo-live-filter"/>                                                      
                    </div>
                </div>
            </div>
            <div class="data-fluid todo">
                <h2>Messaggio immedato</h2>
                Tramite il pulsante <b>Scrivi</b> presente su ogni scheda, è possibile inviare un messaggio
                istantaneo al collega direttamente da JF-SYSTEM
            </div>
            <div class="data-fluid todo">
                <h2>Colori</h2>
                <span class="label label-important">SuperAmministratore</span> <span class="label label-green">Utente</span>
            </div>
        </div>
    </div>
</div>